[Unit]
Description=Worker Activity Monitoring System
After=network.target

[Service]
User=dev1
Group=dev1
WorkingDirectory=/home/dev1/Final_Products/worker-monitor
ExecStart=/home/dev1/.virtualenvs/env1/bin/python /home/dev1/Final_Products/worker-monitor/worker_monitor.py
Environment="PYTHONUNBUFFERED=1"
Environment="DISPLAY=:1"
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
